<!DOCTYPE html>
<html>
<head>
  <title>VHT Feed</title>
  <link rel="stylesheet" href="/stylesheets/post.css"/>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker' rel='stylesheet' type='text/css'>
</head>
<body>

    <% if @images.length <= 0 %>
        <div id="message">
          <%= @post.body %>
        </div>
    <% end %>
    <div id="images">
      <% @images.each do |image| %>
          <div class="polaroid"><a href="<%= image.url %>"><img src="<%= image.url %>"/></a></div>
      <% end %>
    </div>
    <div id="time">
      <%= @post.smsdatetime.localtime.strftime("%l:%M %p - %e %b %Y") %>
    </div>

</body></html>