<!DOCTYPE html>
<html>
<head>
  <title>VHT Feed</title>
  <link rel="stylesheet" href="/stylesheets/post.css"/>
</head>
<body>

    <div id="message">
      <%= @post.body %>
    </div>
    <div id="images">
      <% @images.each do |image| %>
          <div class="polaroid"><a href="<%= image.url %>"><img src="<%= image.url %>"/></a></div>
      <% end %>
    </div>
    <div id="time">
      <%= @post.smsdatetime.localtime.strftime("%l:%M %p - %e %b %Y") %>
    </div>

</body></html>