@font-face {
    font-family: startrek;
    src: url(/fonts/FEC_____.TTF);
}

html {
    background: -ms-linear-gradient(left, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%), url('/images/wood_texture_2_by_ftIsis_Stock.jpg');
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%), url('/images/wood_texture_2_by_ftIsis_Stock.jpg');
    background: -o-linear-gradient(left, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%), url('/images/wood_texture_2_by_ftIsis_Stock.jpg');
    background: -webkit-gradient(linear, left, left top, color-stop(0.8, rgba(0,0,0,0)), color-stop(1, rgba(0,0,0,1))), url('/images/wood_texture_2_by_ftIsis_Stock.jpg');
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%), url('/images/wood_texture_2_by_ftIsis_Stock.jpg');
    background: linear-gradient(left, rgba(0,0,0,0) 80%, rgba(0,0,0,1) 100%), url('/images/wood_texture_2_by_ftIsis_Stock.jpg');
}

#message {
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #CACACA;
    margin: 20px;
}

#images {
    text-align: center;
}

.polaroid {
    position: relative;
    margin: 0 auto;
}

#polaroid_image,
#polaroid_background {
    border: 20px solid #f0f0f0;
    border-bottom: 60px solid #f0f0f0;
    -webkit-box-shadow: 4px 4px 6px rgba(0,0,0,.3);
    -moz-box-shadow: 4px 4px 6px rgba(0,0,0,.3);
    box-shadow: 4px 4px 6px rgba(0,0,0,.3);
    margin-left: 20px;
    margin-right: 20px;
    height: 750px;
    position: absolute;
    top: 50px;
}

#caption {
    position: absolute;
    text-align: center;
    bottom: 0;
    font: 22px/.75 'Permanent Marker', cursive;
    color: #464646;
    top: 825px;
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
}

img {
    height: 750px;
}

#time {
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #CACACA;
    margin: 20px;
}

.hide {
    display:none;
    width: 0;
}

#posts {
    margin-left: 70px;
}

.post {
    color: #fff;
    margin: 4px;
    height: 136px;
    width: 65%;
    background-image: -ms-linear-gradient(bottom right, rgba(194,194,194,.35) 0%, rgba(0,0,0,0) 100%);
    background-image: -moz-linear-gradient(bottom right, rgba(194,194,194,.35) 0%, rgba(0,0,0,0) 100%);
    background-image: -o-linear-gradient(bottom right, rgba(194,194,194,.35) 0%, rgba(0,0,0,0) 100%);
    background-image: -webkit-gradient(linear, right bottom, left top, color-stop(0, rgba(194,194,194,.35)), color-stop(1, rgba(0,0,0,0)));
    background-image: -webkit-linear-gradient(bottom right, rgba(194,194,194,.35) 0%, rgba(0,0,0,0) 100%);
    border-radius: 65px;
    overflow:hidden;
}

.post div {
    position: absolute;
}

.feed_image {
    height :130px;
    width: 130px;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 5px;
}

.feed_caption {
    left: 250px;
}

.feed_text {
    font: italic bold 30px Jura, Verdana, Arial, Helvetica, sans-serif;
}

.feed_timestamp {
    font: bold 16px Verdana, Arial, Helvetica, sans-serif;
    white-space:nowrap;
}

#posts_title {
    color: #FFF;
    font-family: startrek, Verdana, Arial, Helvitica, sans-serif;
    font-size: 44px;
    height: 55px;
    margin-left: 70px;
}