html {
    background-color: #969696;
}

#message {
    text-align: center;
    font-size: 24px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #CACACA;
    margin: 20px;
}

#images {
    text-align: center;
}

.polaroid {
    position: relative;
    /*width: 220px;*/
}

.polaroid img {
    border: 10px solid #fff;
    border-bottom: 45px solid #fff;
    -webkit-box-shadow: 4px 4px 6px rgba(0,0,0,.3);
    -moz-box-shadow: 4px 4px 6px rgba(0,0,0,.3);
    box-shadow: 4px 4px 6px rgba(0,0,0,.3);
}

.polaroid p {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: 0;
    font: 400 24px/.5 'Permanent Marker', cursive;
    color: #464646;
}

img {
    height: 750px;
    margin-left: 20px;
    margin-right: 20px;
}

#time {
    text-align: center;
    font-size: 16px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #CACACA;
    margin: 20px;
}